<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'prefs_push' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
  <link rel="shortcut icon" href="http://www.discourse.org/favicon.ico" />
  <link rel="icon" href="http://www.discourse.org/images/favicon.png" />

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="title">
    <img class="logo" src="/assets/logo.png" height="40" />
    <h1 class="logo">Hub</h1>
  </div>
  <%= yield %>
</body>
</html>